# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Burp
*.burp
burp_state/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Screenshots added locally
screenshots/*.png
screenshots/*.jpg
